body {
  background:url(../image/2.png);
  background-size: cover;
  background-repeat: no-repeat;
background-color:rgba(145, 153, 227, 0.13)
}
a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #f8f8f8;
  text-decoration: none;

}
/*Donde esta el logo*/
#topbar{
  background-color: #070733ba;
  width: 88.5%;
  left: 11.2em;
  top: 1px;
}

#topbar #logo{
  position: absolute;
  max-width: 9.7em;
  height: 2.2em;
  left: -10.5em;
  top: 1em;
  margin-left: 9px;
}

#topbar #logo:hover {
  transition: all 0.6s ease-out;
  -moz-transform : scale(1.1); /* Firefox */
  -webkit-transform : scale(1.1); /* Chrome - Safari */
  -o-transform : scale(1.1); /* Opera */
  -ms-transform : scale(1.1); /* IE9 */
}
/*Menu general azul, es quien tiene los items*/
#navbar{
  position: absolute;
  padding: 0;
  right: 4em;
  bottom: -4px;
}


/*Botones azules del menu general*/
#NavBott{
  display: -webkit-box;

}
#NavBott .appointment-btn {
padding: 1%;
margin-left: 5px;
margin-right: 5px;
border-bottom: #1977cc 1px solid;
}

/*Redes sociales*/
#SocialR{
bottom: -2em;
position: absolute;
right: 44px;
font-size: 1.5em;
}
/*Menu General*/
#navge {
  position: absolute;
  top: 7em;
  box-shadow: -12px 2px 13px 1px #191a1a69;
  width: 43em;
  left: 18px;
  margin: 0px;
  padding: 0px;
}
#navge:hover {
  box-shadow: 0px 3px 10px 0px #3291e8;
  transition: all 0.6s ease-out;
  -moz-transform : scale(1.02); /* Firefox */
  -webkit-transform : scale(1.02); /* Chrome - Safari */
  -o-transform : scale(1.02); /* Opera */
  -ms-transform : scale(1.02); /* IE9 */
}


#navge #navgea .tab-content
{
  font-size: 80%;
}
#navge #navgea #v-pills-tab ul{
  list-style: none;
  margin: 0px;
padding: 0px;
}
  
#navge #navgea #v-pills-tab h1{
  font-size: 23px;
}

#navge #navgea #v-pills-tab button
{
  width: 14em;
  color: rgb(255, 255, 255);
  border-color: #ddd;
  text-align: left;
  font-size: larger;
  height: 4.16em;
  background-color:#191743;
}
#navge #navgea #v-pills-tab button:hover
{
  box-shadow: -12px 2px 13px 1px #191a1a69;
  background-color: #3291e6;
  border-color: #3291e8;
  border-right: 1px solid #f3f3f3;
}
#navge #navgea #v-pills-tab ul li div{
  visibility: hidden;
  background-color: rgba(252, 252, 252, 0.979);
  position: absolute;
  width: 33em;
  left: 21em;
  top: 0em;
  padding: 1em;
  height: 37.3em;
}
  
#navge #navgea #v-pills-tab ul li:hover > div{
  visibility: visible;
  background-color: rgba(252, 252, 252, 0.979);
}

#navge #navgea #v-pills-tab ul li div img{
  max-width: 40%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

  #navge #navgea #v-pills-tabContent{
    position: relative;
    color: rgb(0, 0, 0);
    height: 37em;
    flex-wrap: wrap;
  }
/*Carrusel*/
  #contNavFull{
    position: absolute;
    left: 45em;
    max-width: 25em;
    top: 7em;
    padding: 0em;
    box-shadow: 0px 3px 10px 0px #494969;
    border-radius: 1em;
  }
  #contNavFull:hover{
    box-shadow: 0px 3px 10px 0px #3291e8;
    transition: all 0.6s ease-out;
    -moz-transform : scale(1.03); /* Firefox */
    -webkit-transform : scale(1.03); /* Chrome - Safari */
    -o-transform : scale(1.03); /* Opera */
    -ms-transform : scale(1.03); /* IE9 */
  }
  #contNavFull #carImg{
    border-radius: 1em;
  }
  /*Imagen de reclama tus resuktados */
#TexCita{
  position: relative;
  width: 13em;
  top: 5.5em;
  left: 71.1em;
  background-color: #f0f1fb;

  border-radius: 1em;
  height: 14.1em;
}

#TexCita img{
  width: 6em;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

#TexCita #texci{
  position: absolute;
  word-wrap: break-word;
  left: 11px;
  top: 3em;
}

#TexCita #texci:hover{
  transition: all 0.6s ease-out;
  background-color: #3291e829;
  box-shadow: 0px 3px 10px 0px #3291e8;
  transition: all 0.6s ease-out;
  -moz-transform : scale(1.03); /* Firefox */
  -webkit-transform : scale(1.03); /* Chrome - Safari */
  -o-transform : scale(1.03); /* Opera */
  -ms-transform : scale(1.03); /* IE9 */
}


#TexCita h1{
  text-align: center;
font-size: 1em;
}

.parpadea {
  animation-name: parpadeo;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-name:parpadeo;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo{  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes parpadeo {  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
   100% { opacity: 1.0; }
}

@keyframes parpadeo {  
  0% { opacity: 1.0; }
   50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}
/*Map*/
#map{
  position: relative;
  width: 13em;
  height: 14.7em;
  left: 35em;
  top: 6.5em;
  background-color: #f0f1fb;
  border-radius: 1em;
}
#map a #map{
  left: 2em;
  top: 4em;
  width: 7em;
  height: 7em;
  box-shadow: 0px 3px 10px 0px #494969;
}
#map a #map:hover{
  transition: all 0.6s ease-out;
  -moz-transform : scale(2); /* Firefox */
  -webkit-transform : scale(2); /* Chrome - Safari */
  -o-transform : scale(2); /* Opera */
  -ms-transform : scale(2); /* IE9 */
  background-color: #3291e829;
  box-shadow: 0px 3px 10px 0px #3291e8;

}
/*Carrucel del foro*/
#DatosInf{
  position: relative;
  width: 25em;
  left: 45em;
  bottom: 8.2em;
  background-color: #fc0606;
  margin: 0px;
  padding: 0px;
}

#DatosInf #DatInf{
  position: absolute;
  padding: 0px;
  margin: 0px;
  height: 14.8em;
  width: 25em;
  border-radius: 1em;
  box-shadow: 0px 3px 10px 0px #494969;
}
#DatosInf #DatInf:hover{
  transition: all 0.6s ease-out;
  box-shadow: 0px 3px 10px 0px #3291e8;
  border-radius: 1em;
  -moz-transform : scale(1.03); /* Firefox */
  -webkit-transform : scale(1.03); /* Chrome - Safari */
  -o-transform : scale(1.03); /* Opera */
  -ms-transform : scale(1.03); /* IE9 */
}
#DatosInf #DatInf #ForoCrousel{
padding: 0px;
margin: 0px;
}
#DatosInf #DatInf #ForoCrousel #carouselExampleSlidesOnly .carousel-inner {
  height: 14.8em;
  }
#DatosInf #DatInf #ForoCrousel #carouselExampleSlidesOnly .carousel-inner #datos{

}
#DatosInf #DatInf #ForoCrousel #carouselExampleSlidesOnly .carousel-inner #datos #carousel-Tittle{
  position: relative;
  width: 10em;
  height: 100%;
  word-wrap: break-word;
}
#DatosInf #DatInf #ForoCrousel #carouselExampleSlidesOnly .carousel-inner #datos #carousel-Tittle h1{
  width: 100%;
  height: 62%;
  font-size: 22px;
  text-align: center;
  margin-top: 4em;
}
#DatosInf #DatInf #ForoCrousel #carouselExampleSlidesOnly .carousel-inner #datos #carousel-img img {
  position: absolute;
  width: 15em;
  top: -4px;
  left: 10em;
  height: 15em;
  border-radius: 0 1em 1em 0;
}

#Footer{
  position: absolute;
  bottom: 0em;
  width: 100%;
}

/*####################*/
/*TRABAJA CON NOSOTROS*/
#Trbaje{
  background-color: #0000dfe8;
  box-shadow: 0px 3px 10px 0px #3291e8;
  border-radius: 1em;
  padding: 18px;
}
#Trbaje:hover{
  background-color: #063d6f;
  box-shadow: 0px 1px 6px 2px #000000a8;
  transition: all 0.6s ease-out;

}

/*####################*/
/*BARRA DE  NAVEGACION*/
/*####################*/
/*Menu Infomracion al usuario*/
#navbar #InfUser  #InfU {
  display: flex;
  position: absolute;
  left: -270%;
  width: 80.6em;
  top: calc(100% + 30px);
  margin: 0;
  padding: 0px;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  color: #fff !important;
  transition: 0.3s;
  background-color: #4e1bffbf;
  box-shadow: 0px 0px 13px 2px #000000c7;
  word-wrap: break-word;
}
#navbar #InfUser:hover > #InfU  {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

#navbar #InfUser  #InfU li{ 
  position: relative;
  display: block;
  margin-right: 2%;
  width: 11em;
  text-align: center;
  margin-left: 2%;  
}

#navbar #InfUser #InfU li a { 
  display: block;
  color: rgb(255, 255, 255) ;
  }

  #navbar #InfUser #InfU li a span{ 

 
    }

#navbar #InfUser #InfU  li a:hover  { 
    transition: all 0.5s ease-out;
    -moz-transform : scale(1.1); /* Firefox */
    -webkit-transform : scale(1.1); /* Chrome - Safari */
    -o-transform : scale(1.1); /* Opera */
    -ms-transform : scale(1.1); /* IE9 */
    }
  
    #navbar #InfUser #InfU li a  img{ 
      color: rgb(255, 255, 255) ;
  width: 2.5em;
  padding-right: 2px;
      }
/*####################*/
    /*Menu Mas*/
/*####################*/
#navbar #InfMas #Mas {
  display: flex;
  position: absolute;
  left: -1000%;
  width: 83.6em;
  margin: 0;
  padding: 0px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  color: #fff !important;
  transition: 0.3s;
  background-color: #4e1bffbf;
  box-shadow: 0px 0px 13px 2px #000000c7;
}

#navbar #InfMas:hover > #Mas  {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

#navbar #InfMas  #Mas li{ 
  position: relative;
  display: block;
  margin-left: 1%;
  right: -2%;
  width: 11em;
  text-align: center;
  left: auto;
  margin-right: 1%;
  }
  #navbar #InfMas  #Mas li a { 
  display: block;
  color: rgb(255, 255, 255) ;  
}

#navbar #InfMas  #Mas li a:hover  { 
  transition: all 0.5s ease-out;
  -moz-transform : scale(1.2); /* Firefox */
  -webkit-transform : scale(1.2); /* Chrome - Safari */
  -o-transform : scale(1.2); /* Opera */
  -ms-transform : scale(1.2); /* IE9 */
}
#navbar #InfMas #Mas li a  img{ 
  color: rgb(255, 255, 255) ;
  width: 2.5em;
  padding-right: 2px;
}
/*####################*/
/*SUbmenude paciente*/
/*####################*/
#MImagPatien{
  color: #020202;
}

#MImagPatien img{
width: 3em;
}
#MImagPatien:hover{
  color: #ffffff;
  padding: 1em;
  background-color: #104777b9;
  transition: all 0.5s ease-out;
  -moz-transform : scale(1.1); /* Firefox */
  -webkit-transform : scale(1.1); /* Chrome - Safari */
  -o-transform : scale(1.1); /* Opera */
  -ms-transform : scale(1.1); /* IE9 */
  border-radius:35px;
  }